@using Squawkings
@model List<Squawkings.Models.SquawkDisplay>

@foreach (var item in Model)
{
 	<div class="squawk-container">
		<div class="squawk-avatar">
			<a href="/@item.Username">
				<img src="@Url.Content(item.AvatarUrl)" alt=""/>
			</a>
		</div>
		<div class="squawk-body">
			<div class="squawk-name">
				@item.Username
				<span>(@item.FullName)</span>
			</div>
			<div class="squawk-text">
				@item.Content
			</div>
			<div class="squawk-time">
				@item.Time.ToPrettyDate()
			</div>
		</div>
	</div>
}
