@using Squawkings
@using Squawkings.Models
@model ProfileViewModel

<div class="main-container">
	
	<div class="profile-container row-fluid">
		<div class="profile-detail span10">
			<div class="profile-avatar">
				<a href="/Upload">
					<img src="@Url.Content(Model.User.AvatarUrl)" alt=""/>
				</a>
			</div>
			<div class="profile-body">
				<div class="profile-username">
					@Model.User.Username
				</div>
				<div class="profile-fullname">@Model.User.FirstName&nbsp;@Model.User.LastName</div>
				<div class="profile-bio">
					@Model.User.Bio
				</div>
			</div>
		</div>
		<div class="profile-summary span2">
			<div class="profile-counters">
				<span>@Model.Followers</span> Followers
			</div>
			<hr/>
			<div class="profile-counters">
				<span>@Model.Following</span> Following
			</div>
			<hr/>
			@using(Html.Form<int>()) {
				<input type="hidden" name="userId" value="@Model.User.UserId"/>
			    <input type="hidden" name="userName" value="@ViewBag.UserName"/>
			   if (Model.User.UserId != User.Identity.Id())
			   {
				<div class="profile-follow">
				@{
				   if (Model.IsFollowing)
				   {
					   @Html.Submit("Unfollow").AddClass("btn");
				   }
				   else
				   {
					   @Html.Submit("Follow").AddClass("btn");
				   }
				}
				</div>
			  }

		}
		</div>
	</div>
	
	<br/>
	
	<div class="squawk-list">
		@Html.Partial("_Squawks", Model.Squawks)
	</div>

</div>

